@import '../../assets/styles/vars';

body{
}

.hello-logo{
  width: 300px;
  height: 180px;
  background: #fafafa;
  margin-bottom: 20px;
}
.container{
  background: #fff !important;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
}
.v-btn{
  background: $cancel-gradiant !important;
  width: 80%;
  position: relative;
  bottom: -180px !important;
  height: 50px;
 
  font-size: 18px;
  @media(min-width: 600px) {
    width: 250px;
  }
}